{% extends "core/base.html" %}

{% block title %}Item page{% endblock title %}

{% block content %}
    <div class="pb-6 p-2 grid grid-cols-4 gap-4 bg-gray-100">
        <div class="col-span-1">
            <div>
            <form action="{% url 'item:item' %}" method='get'>
                <input type='text' name='query' value='{{ query }}' class='w-full px-4 py-6 font-bold border rounded-xl' placeholder='Find a bike a chair or car...'>

                <button type="submit" class="px-8 py-4 mt-2 mb-6 text-lg font-bold text-white bg-teal-500 hover:bg-teal-700 rounded-xl">Search</button>

            </form>
            </div>

            <hr>
            <h2 class="pt-5 text-xl">Categories</h2>
            <ul>
            {% for category in categorys %}
                <li class="px-2 py-3 font-bold {% if category.id == category_id %} bg-gray-200 {% endif %} rounded-xl">
                        <a  href="{% url 'item:item' %}?query={{query}}&category={{category.id}}">
                            {{ category.name }}
                        </a>
                </li>
            {% endfor %}
            </ul>

            <hr>
            <h2 class="pt-5 mb-6 text-xl font-semibold">Clear filter</h2>
            <a href="{% url 'item:item' %}" class="px-8 py-4 text-lg font-bold text-white bg-yellow-500 rounded-xl">Clear filter</a>

        </div>

        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% for item in items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src="{{ item.image.url }}" class="rounded-xl">
                            </div>

                            <div class="p-6 bg-white font-bold rounded-xl">
                                <h2 class="text-xl">{{ item.name }}</h3> 
                                <p class="text-gray-500">Price: ${{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}